<div class="main-container">
  <h1>Main Features/Benefits</h1>
  <h4>
    We evaluate the strategies, throwing light on the effectiveness and
    efficiency of the plans in achieving results. Because It’s of the utmost
    importance to examine the overall well-being of the company and the goals it
    follows.
  </h4>

  <div class="features-container">
    <div class="feature">
      <div class="feature-img">
        <img src="../../../assets/checkmark.png" alt="Checkmark" />
      </div>
      <div class="feature-info">
        <h2>Pay less</h2>
        <p>
          Have a brilliant idea for a startup, but software development vendors'
          prices are extremely high? Pay less by 70% with partly-ready products.
          Find the functionality you need and don’t pay for development from
          scratch.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-img">
        <img src="../../../assets/checkmark.png" alt="Checkmark" />
      </div>
      <div class="feature-info">
        <h2>Rent it</h2>
        <p>
          Why buy software when you can rent it ? You don’t need to risk, just
          get your software for a monthly fee. The only thing you need to pay is
          for custom-features.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-img">
        <img src="../../../assets/checkmark.png" alt="Checkmark" />
      </div>
      <div class="feature-info">
        <h2>Expand software</h2>
        <p>
          Competitive price for custom features prices. Expand software with
          your ideas, we will implement your idea with high quality. Samples of
          our cost calculation.
        </p>
      </div>
    </div>
  </div>
</div>
