@import "../../../styles/colors.scss";

header {
  padding: 30px 30px 5px;
  text-align: center;

  .mat-form-field {
    padding-bottom: 5px;
    width: 90%;
    padding: 40px;
  }

  h4 {
    width: 50%;
    margin: auto;
  }

  .logo-img {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 75px;
  }
}

footer {
  ul {
    justify-content: center;
    padding: 20px 0;

    li {
      margin-right: 1px;
      a {
        padding: 25px 25px;

        &:hover {
          border-bottom: 2px solid transparent;
          cursor: pointer;
          color: $golem-accent;
        }
      }
    }
  }

  p {
    text-align: center;
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  li {
    position: relative;

    a {
      font-size: large;
      display: block;
      padding: 25px 70px;

      color: $golem-primary;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $golem-accent;
        cursor: pointer;
        color: $golem-accent;
      }
      &.active {
        color: $golem-accent;
      }
    }
  }

  li:not(:last-child) > a::after {
    content: "";
    height: 20px;
    width: 2px;
    background: $golem-primary-light;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -10px;
  }
}

h1 {
  padding: 10px 0px 20px;
}

.short-divider {
  width: 15%;
  padding: 20px;
  margin: auto;
}

@import "home-responsive.component.scss";
