.queries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }

  .mat-column-queryString {
    width: 450px;
  }

  .mat-column-position {
    width: 50px;
  }

  .mat-column-methodType {
    width: 150px;
  }

}
