.queries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    text-align: center;
    width: 100%;
  }

  .mat-column-queryString {
    width: 450px;
  }

  .mat-column-position {
    width: 50px;
  }

  .mat-column-methodType {
    width: 150px;
  }
}
.get {
  span {
    border-radius: 5px;
    background-color: #77b5ee;
  }
}

.post {
  span {
    border-radius: 5px;
    background-color: #47cd91;
  }
}

.put {
  span {
    border-radius: 5px;
    background-color: #f6a238;
  }
}

.delete {
  span {
    border-radius: 5px;
    background-color: #ee433e;
  }
}
