<div class="info-container" *ngIf="overviewData">
  <span class="users info-card">
    <span class="number-container">
      <p class="number">
        {{ overviewData.numberOfUsers }}
      </p>
      <span class="material-icons">
        group
      </span>
    </span>
    <p>
      Users
    </p>
  </span>
  <span class="sessions info-card">
    <span class="number-container">
      <p class="number">
        {{ overviewData.numberOfSessions }}
      </p>
      <span class="material-icons">
        watch_later
      </span>
    </span>
    <p>
      Sessions
    </p>
  </span>
  <span class="average-session-duration info-card">
    <span class="number-container">
      <p class="number">
        {{ overviewData.averageSessionDuration | number: "1.1-1" }}min
      </p>
      <span class="material-icons">
        timer
      </span>
    </span>
    <p>
      AVG Session Duration
    </p>
  </span>
  <span class="requests info-card">
    <span class="number-container">
      <p class="number">
        {{ overviewData.numberOfRequests }}
      </p>
      <span class="material-icons">
        arrow_circle_down
      </span>
    </span>
    <p>
      Requests
    </p>
  </span>
  <span class="average-requests info-card">
    <span class="number-container">
      <p class="number">
        {{ overviewData.averageNumberOfRequests | number: "1.1-1" }}
      </p>
      <span class="material-icons">
        functions
      </span>
    </span>
    <p>
      AVG Requests
    </p>
  </span>
  <span class="bounce-rate info-card">
    <span class="number-container">
      <p class="number">{{ overviewData.bounceRate | number: "1.1-1" }}%</p>
      <span class="material-icons">
        notification_important
      </span>
    </span>
    <p>
      Bounce Rate
    </p>
  </span>
</div>
<div class="charts-container">
  <div class="small-charts-container">
    <mat-card class="small-chart">
      <mat-card-header>
        <mat-card-title class="card-title">Browsers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="browser-info" *ngFor="let browser of browsers; index as i">
          <p>{{ i + 1 }}. {{ browser.name }}</p>
          <p>{{ browser.number }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="small-chart">
      <mat-card-header>
        <mat-card-title class="card-title">Countries</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-countries-chart></app-countries-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="big-charts-container">
    <mat-card class="big-chart">
      <mat-card-header>
        <mat-card-title class="card-title">Users/Sessions</mat-card-title>
        <mat-card-subtitle>Last week</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-users-chart></app-users-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="big-chart">
      <mat-card-header>
        <mat-card-title class="card-title">Requests</mat-card-title>
        <mat-card-subtitle>Last week</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-requests-chart></app-requests-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
