@import "../../../styles/colors.scss";

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info-card {
  display: inline-block;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  .number-container {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    .number {
      font-weight: 500;
      font-size: 25px;
    }
  }
  p {
    color: whitesmoke;
    padding: 2px;
    margin: 0;
    font-size: small;
  }
}

.users {
  background-color: #1160ad;
}
.sessions {
  background-color: #199f86;
}
.requests {
  background-color: #94b856;
}
.average-requests {
  background-color: #f49c07;
}
.bounce-rate {
  background-color: #ef4b4c;
}
.average-session-duration {
  background-color: #7f7f7f;
}

.card-title {
  text-align: center;
  padding-bottom: 20px;
}

.charts-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .small-charts-container {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    box-sizing: border-box;
    .small-chart {
      width: 100%;
      margin: 10px;
      p {
        font-size: 16px;
        color: $golem-primary;
      }
    }
  }
  .big-charts-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    box-sizing: border-box;

    .big-chart {
      box-sizing: border-box;
      width: 48%;
      margin: 1%;
    }
  }
}
