@import "../../../styles/colors.scss";

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  padding: 20px;

  .users-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      text-align: center;
      width: 100%;
    }

    .mat-column-position {
      width: 50px;
    }

    .mat-column-numberOfVisits {
      width: 120px;
    }

    .mat-column-numberOfRequests {
      width: 120px;
    }

    .mat-column-lastVisitTime {
      width: 150px;
    }

    .mat-column-country {
      width: 150px;
    }

    .mat-column-actions {
      width: 150px;
    }
  }

  .user-info-container {
    max-width: 400px;

    p {
      font-size: 16px;
      color: $golem-primary;
    }
  }
}

.current {
  background-color: $golem-white;
}
