<div class="gallery-container">
  <h1>Product Gallery</h1>
  <h4>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </h4>

  <div class="products-container">
    <div *ngFor="let product of products" class="product">
      <div class="product-img">Image</div>
      <div class="product-info">{{product}}</div>
    </div>
  </div>
</div>
