<header>
  <ul>
    <li><a routerLink="/instruction" routerLinkActive="active">Features</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">About</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Log in</a></li>
  </ul>
  <h1>Build web-site in 5 minutes</h1>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Search..." />
  </mat-form-field>
</header>

<app-product-gallery></app-product-gallery>
<mat-divider></mat-divider>

<app-features></app-features>
<mat-divider></mat-divider>

<app-get-in-touch></app-get-in-touch>
<mat-divider></mat-divider>

<footer>
  <ul>
    <li><a routerLink="/instruction" routerLinkActive="active">Features</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">About</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Log in</a></li>
  </ul>
  <mat-divider class="short-divider"></mat-divider>
  <p>Ukraine Lviv</p>
  <p>© Golem 2020</p>
</footer>
