<header>
  <ul>
    <li><a routerLink="/instruction" routerLinkActive="active">Features</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">About</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Log in</a></li>
  </ul>

  <mat-form-field appearance="outline">
    <mat-label>Input Label </mat-label>
    <input matInput placeholder="Input placeholder" />
  </mat-form-field>

  <h1>Build web-site in 5 minutes</h1>

  <h4>Easy and prodactive way to build your web-site</h4>

  <mat-divider></mat-divider>
</header>

<app-product-gallery></app-product-gallery>
<mat-divider></mat-divider>

<app-features></app-features>
<mat-divider></mat-divider>

<app-get-in-touch></app-get-in-touch>
<mat-divider></mat-divider>

<footer>
  <ul>
    <li><a routerLink="/instruction" routerLinkActive="active">Features</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">About</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/instruction" routerLinkActive="active">Log in</a></li>
  </ul>
  <mat-divider></mat-divider>
  <hr>
  <p>Ukraine Lviv</p>
  <p>© Golem 2020</p>
</footer>
