<header id="header">
  <ul>
    <li><a  href="#header">Products</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#getInTouch">Contact</a></li>
  </ul>
  <h1>Build web-site in 5 minutes</h1>

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input (keyup)="onKeyUp($event)" matInput placeholder="Search..." />
  </mat-form-field>
</header>

<app-product-gallery [products]="products"></app-product-gallery>
<mat-divider></mat-divider>

<app-features id="features"></app-features>
<mat-divider></mat-divider>

<app-get-in-touch id="getInTouch"></app-get-in-touch>
<mat-divider></mat-divider>

<footer>
  <ul>
    <li><a href="#header">Products</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#getInTouch">Contact</a></li>
  </ul>
  <mat-divider class="short-divider"></mat-divider>
  <p>Ukraine Lviv</p>
  <p>© Golem 2020</p>
</footer>
