@import "../../../styles/colors.scss";

header {
  position: relative;
  padding: 30px 30px 5px;
  text-align: center;

  .mat-form-field {
    width: 90%;
    padding: 40px;
  }
}

header::after {
  content: "";
  background: url("../../../assets/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2  ;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}
footer {
  ul {
    justify-content: center;
    padding: 20px 0;

    li {
      margin-right: 1px;
      a {
        padding: 25px 25px;

        &:hover {
          border-bottom: 2px solid transparent;
          cursor: pointer;
          color: $golem-accent;
        }
      }
    }
  }

  p {
    text-align: center;
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  li {
    position: relative;

    a {
      font-size: large;
      display: block;
      padding: 25px 70px;

      color: $golem-primary;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $golem-accent;
        cursor: pointer;
        color: $golem-accent;
      }
      &.active {
        border-bottom: 2px solid $golem-accent;
      }
    }
  }

  li:not(:last-child) > a::after {
    content: "";
    height: 20px;
    width: 2px;
    background: $golem-primary-light;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -10px;
  }
}

h1 {
  padding: 10px 0px 40px;
}

h4 {
  padding: 10px 0px 60px;
}

.short-divider {
  width: 15%;
  padding: 20px;
  margin: auto;
}

@import 'app-responsive.component.scss';
