@import "../../../styles/colors.scss";

header {
  padding: 30px;
  background: rgba(63, 81, 181, 0.03);
  text-align: center;

  .mat-form-field {
    width: 90%;
    padding: 40px;
  }
}
footer {
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/

  border-style: solid;
  border-color: yellowgreen;

  p {
    text-align: center;
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  li {
    position: relative;

    a {
      font-size: large;
      display: block;
      padding: 25px 60px;

      color: $golem-primary;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $golem-primary;
        cursor: pointer;
      }
      &.active {
        border-bottom: 2px solid $golem-accent;
      }
    }
  }

  li:not(:last-child) > a::after {
    content: "";
    margin-right: 2px;
    height: 20px;
    width: 2px;
    background: $golem-primary;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
  }
}
