@import "../../../styles/colors.scss";

.main-container {
padding: 0 40px 40px 40px;
}

h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.log-out {
  font-size: small;
  &:hover {
    cursor: pointer;
    color: $golem-primary;
  }
  &.active {
    color: $golem-primary;
  }
}
