@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    padding: 10px;

    h4 {
      width: 90%;
    }

    form {
      width: 95%;
      margin: auto;

      .text-area-field {
        width: 100%;
      }

      .inputs-container {
        flex-wrap: wrap;

        .input-mat-field {
          width: 100%;
          padding-right: 0;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}
